{
    "shards": [
        { "address": "karma8-storage-shard-manager-1", "port": 7799, "bidx": 0, "kidx": 0, "cidx": 0 },
        { "address": "karma8-storage-shard-manager-2", "port": 7799, "bidx": 0, "kidx": 0, "cidx": 1 },
        { "address": "karma8-storage-shard-manager-3", "port": 7799, "bidx": 0, "kidx": 0, "cidx": 2 },
        { "address": "karma8-storage-shard-manager-4", "port": 7799, "bidx": 0, "kidx": 0, "cidx": 3 },
        { "address": "karma8-storage-shard-manager-5", "port": 7799, "bidx": 0, "kidx": 0, "cidx": 4 },
        { "address": "karma8-storage-shard-manager-6", "port": 7799, "bidx": 0, "kidx": 0, "cidx": 5 },
        { "address": "karma8-storage-shard-manager-7", "port": 7799, "bidx": 0, "kidx": 0, "cidx": 6 },
        { "address": "karma8-storage-shard-manager-8", "port": 7799, "bidx": 0, "kidx": 0, "cidx": 7 }
    ]
}